<div class="container__big-card">
    <div class="big-card__image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLf2mXAcFRF-oD0L5-9kHMZ-9bFSWcrBXLfw&s" alt="placeholder image" height="200px" width="400px">
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos iure deserunt expedita quam at amet, eaque architecto, ad magnam quae alias dolorem est sit possimus eveniet doloribus natus. Iure, ad.</a></p>
    </div>
</div>