<div class="small-card__container">
    <div class="small-card-content__container">
        <div class="small-card__image">
            <img src="https://i.pinimg.com/736x/de/70/e4/de70e47188c2922080f7b707cf732035.jpg" alt="placeholder small image">
        </div>
        <div class="small-card__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo odio eligendi natus non repudiandae
        </div>
    </div>
    <hr>
</div>
<div class="small-card__container">
    <div class="small-card-content__container">
        <div class="small-card__image">
            <img src="https://placehold.co/600x400/indigo/lightblue" alt="placeholder small image 2">
        </div>
        <div class="small-card__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo odio eligendi natus non repudiandae
        </div>
    </div>
    <hr>
</div>
<div class="small-card__container">
    <div class="small-card-content__container">
        <div class="small-card__image">
            <img src="https://placehold.co/600x400/orange/white" alt="placeholder small image 2">
        </div>
        <div class="small-card__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo odio eligendi natus non repudiandae
        </div>
    </div>
    <hr>
</div>
