
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card id="1" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLf2mXAcFRF-oD0L5-9kHMZ-9bFSWcrBXLfw&s" cardTitle="Novo blablalblabalbla" cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos iure deserunt expedita quam at amet, eaque architecto, ad magnam quae alias dolorem est sit possimus eveniet doloribus natus. Iure, ad."></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card id = "2" photoCover="https://i.pinimg.com/736x/de/70/e4/de70e47188c2922080f7b707cf732035.jpg" cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo odio eligendi natus non repudiandae"></app-small-card>
        <app-small-card id = "3" photoCover="https://placehold.co/600x400/indigo/lightblue" cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo odio eligendi natus non repudiandae"></app-small-card>
        <app-small-card id = "4" photoCover="https://placehold.co/600x400/orange/white" cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo odio eligendi natus non repudiandae"></app-small-card>
    </div>
</div>